
*{
    box-sizing: border-box;
  font-family: 'DOSGothic';
  background-color: black;
}

/* mainpage CSS start */
body{
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
body::-webkit-scrollbar{
  display: none;
}
.container{
  display : flex;
  flex-direction: column;
  height: 100vh;
  max-width: none;
}
.container .main{
  display: flex;
  flex-direction: row;
  height: 90%;
}
.container .scroll{
  height: 10%;
  position: relative;
  left: 50%;
  bottom: 25px;
  width: 100px;
  margin: 0 0 0 -50px;
  z-index: 2;
  color: white;
  cursor: pointer;
}
.container .scroll svg {
  transform: translate(0px);
}
.code{
  margin : auto 0;
  margin-left: 50px;
  /* padding: 50px; */
  width : 55%;
}
p{
  font-family: 'DOSGothic';
  color : white;
}
.tab { white-space: pre; }

.hackyourlife{
  width : 45%;
  display : flex;
  align-items: center;
  place-content: center;
}

.slogan-img{
  display : inline-block;
  width: 100%;
}
.bf-test-btn{
  display: flex;
  justify-content: flex-end;
}
.btn{
  background-color: white;
  border: none;
  padding: 0.2rem 0.5rem;
  font-weight: 600;
}
.bf-test-btn-1{
  margin-right: 50px;
}
.apply{
    display: flex;
    justify-content: center;
}

.apply-text{
  position: relative;
  font-size: 25px;
  font-weight: 900;
  letter-spacing: 0.05rem;
  vertical-align: middle;
  color: white;
  background-color: rgba(0,0,0,0);
}

a{
  color: inherit;
}
a, a:hover, a:active, a:visited, a:focus {
  text-decoration:none;
}

.click{
  position: relative;
  padding: 15px;
  margin: 10px;
  transition: all .2s ease;
}
  .click::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    border-radius: 40px;
    /* background-color: #FFAB9D; */
    background: linear-gradient(to bottom, #FF9E1B, #ff0011);
    width: 70px;
    height: 70px;

    transition: all .3s ease;
  }
  .click:hover{
    transform: translateX(0);
  }
  .click:hover::before{
    width: 100%;
    /* background: rgba(#FFAB9D,1); */
    background: linear-gradient(to bottom, #FF9E1B, #ff0011);;
  }
  .click:active{
    transform: scale(.97);
  }

svg{
  position: relative;
  top: 0;
  margin-left: 10px;
  fill: none;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke: #111;
  transform: rotate(90deg);
  transition: all .3s ease;
  color: white;
  background-color: rgba(0,0,0,0);
  filter: invert(1);

}

/* mainpage CSS end */

/* timeline CSS start*/
.container .timeline{
  display: flex;
  flex-direction: column;
  height: 90%;
  padding-top: 5%;
  position: relative;
}
  .container .timeline::before{
    content: "";
    background-image: url(../images/logo9.png);
    background-position: right;
    background-repeat: no-repeat;
    background-size: 70vh auto;
    /* background-attachment: fixed; */
    position: absolute;
    opacity : 0.1;
    top : 10vh;
    bottom : 0;
    left : 0;
    right : 10vh;
  }
  .container .timeline .timeline-title{
    padding-bottom: 20vh;
    padding-left: 10vh;
    padding-top: 5vh;
    font-size: 40px;
  }
  .container .timeline .timeline-bar{
    display: flex;
    flex-direction: column;
    font-size: 40px;
    color: white;
  }
  .container .timeline .bar{
    width: 100%;
    height: 10px;
    margin: 30px 0;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }

    .container .timeline .bar::before{
      content: "";
      background-image: url(../images/home-color-bar.png);
      background-size: contain;
      background-attachment: scroll;
      position: absolute;
      opacity : 1;
      top : 0;
      bottom : 0;
      left : 0;
      right : 0;
    }

    .container .timeline .bar #text1,#text2,#text3,#text4,#text5{
      display: flex;
      justify-content: center;
      background: none;
      /* img */
    }

    .container .timeline .bar svg{
      filter: none;
      stroke: none;
      margin: 0;
    }
    .container .timeline .bar #text1 svg{ fill: #FF9E1B;}
    .container .timeline .bar #text2 svg{ fill: #C56A36;}
    .container .timeline .bar #text3 svg{ fill: #A42F28;}
    .container .timeline .bar #text4 svg{ fill: #652941;}
    .container .timeline .bar #text5 svg{ fill: #33295B;}

  .container .timeline .date{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-size: 35px;
    text-align: center;
  }
  .container .timeline .content{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-size: 25px;
    align-items: center;
    text-align: center;
  }

  #text1{ width: 10%; }
  #text2{ width: 15%; }
  #text3{ width: 15%; }
  #text4{ width: 15%; }
  #text5{ width: 10%; }
/* timeline CSS end */

/* curriculum CSS start */
.container .curriculum{
  display: flex;
  flex-direction: column;
  height: 90%;
  padding-top: 5%;
}
  .container .curriculum .curriculum-title{
    /* padding-bottom: 20vh; */
    padding-left: 10vh;
    padding-top: 5vh;
    font-size: 40px;
  }
  .container .curriculum .curriculum-title #text{
    font-size: 18px;
    margin-bottom: 0.5rem;
  }
  .container .curriculum .curriculum-content {
    display: flex;
    flex-direction: row;
    flex: auto;
    padding-top: 5%;
    padding-left: 5%;
  }
  .container .curriculum .curriculum-content .curriculum-bar{
    display: flex;
    flex-direction: row;
    flex: auto;
    width: 70%;
    justify-content: space-around;
  }
  .container .curriculum .curriculum-content .curriculum-bar >div {
    width: 12%;
    background: linear-gradient(to bottom, #ffffff, #000000);
    border-radius: 70px 70px 0 0;
    text-align: center;
  }
  .container .curriculum .curriculum-content .curriculum-bar >div:hover{
    background: linear-gradient(to bottom, #FF9E1B, #ff0011);
  }
  
  .container .curriculum .curriculum-content .curriculum-bar >div > img {
    margin-top: 25%;
    width: 60%;
    background: center;
  }

  #html{ margin-top: 25%;}
  #css{ margin-top: 20%;}
  #django{ margin-top: 15%;}
  #js{ margin-top: 10%;}
  #react{ margin-top: 5%;}
  #aws{ margin-top: 0;}

  .curriculum-img{
    width : 25%;
    display: flex;
    align-self: flex-end;
  }
  
  .codelion{
    display: inline-block;
  }
/* curriculum CSS end */

@media screen and (max-width: 1012px){
  .code{
    width: 100%;
    margin-left: 0;
    display: inline-block;
    /* margin-top: 20%; */
  }
  .container{
    display: flex;
    flex-direction: column;
    margin-top: 0%;
    position : relative;
    padding-left: 10%;
    padding-right: 10%;
  }
  .container ::before{
    content:"";
    background-image: url('../images/slogan.png');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    /* background-attachment: ; */
    position : absolute;
    opacity : 0.01;
    top : 0;
    bottom : 0;
    left : 0;
    right : 0;
  }
  .hackyourlife{
    display: none;
  }
  .bf-test-btn-1{
    margin-right: 0;
  }
  .tab {
    white-space: unset;
    margin-right : 20px;
  }
  .container .timeline{
    position: initial;
  }
  .container .timeline::before{
    background-image:none;
  }
  .container .timeline .timeline-title{
    /* padding: 5vh 0 10vh; */
    padding-left: 0;
    padding-top: 10vh;
    padding-bottom: 15vh;
  }
  .container .timeline .timeline-title p{
    font-size: 30px;
    text-align: center;
  }
  .container .timeline .date{
    font-size: 20px;
  }
  .container .timeline .content{
    font-size: 15px;
  }
  circle{
    r:4;
  }
  .container .curriculum .curriculum-title{
    /* padding-bottom: 20vh; */
    padding-left: 10vh;
    padding-top: 5vh;
    font-size: 30px;
  }
  .container .curriculum .curriculum-title{
    /* padding: 5vh 0 10vh; */
    padding-left: 0;
    padding-top: 10vh;
    padding-bottom: 5vh;
  }
  .container .curriculum .curriculum-title #title{
    text-align: center;
  }
  .container .curriculum .curriculum-title #text{
    font-size: 15px;
  }
  .curriculum-img{
    display: none;
  }
}

@media (min-width: 1013px) and (max-width:1280px){
  /* default size */
  .code {
    padding: 50px;
    font-size: large;
  }
  .container .timeline .timeline-title p{
    font-size: 35px;
  }
  .container .timeline .date{
    font-size: 25px;
  }
  .container .timeline .content{
    font-size: 20px;
  }
  .container .curriculum .curriculum-title #text{
    font-size: 15px;
  }
}

@media (min-width: 1281px) {
  .code {
    padding: 50px;
    font-size: large;
  }
  
}