{% extends 'recruit/layout.html' %}
{% load static %}

{% block extrahead %}
<link rel="stylesheet" href="{% static 'css/bftest.css' %}" />
{% endblock %}

{% block content %}
    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <script>
        // 점수 계산방법 다시 설정하기
        $(document).ready(function(){            
            $("#front").click(function(){ 
                $.ajax({
                    type: "POST",
                    url: "{% url 'bftest' %}",
                    data: {
                        'csrfmiddlewaretoken' : '{{csrf_token}}',
                        'q-pk' : $("#pk").val(),
                        'choice': 'front',
                    },
                    dataType: "json",
                    success: function(response){
                        $("#pk").val(response.pk);
                        $("#front").val(response.front);
                        $("#back").val(response.back);
                        $('.question').text(response.question);
                    },
                    error: function(request, status, error){
                        //alert(request.status);
                        var final_score = $("#score").val();
                        // alert("bfscore = "+final_score);
                        window.location.replace("result/?score="+final_score);                                   
                    },
                });
            });

            $("#back").click(function(){
                $.ajax({
                    type: "POST",
                    url: "{% url 'bftest' %}",
                    data: {
                        'csrfmiddlewaretoken' : '{{csrf_token}}',
                        'q-pk' : $("#pk").val(),
                        'choice': 'back',
                    },
                    dataType: "json",
                    success: function(response){
                        $("#pk").val(response.pk);
                        $("#front").val(response.front);
                        $("#back").val(response.back);
                        $('.question').text(response.question);
                        $("#score").val(Number($("#score").val())+1);
                    },
                    error: function(request, status, error){
                        //alert(request.status);
                        var final_score = Number($("#score").val())+1;
                        // alert("bfscore = "+final_score);
                        window.location.replace("result/?score="+final_score);                 
                    },
                });
                });
        });
    </script>
    <body>
            <div class="task-manager">
                <div class="left-bar">
                  <div class="upper-part">
                    <div class="actions">
                      <div class="circle"></div>
                      <div class="title">당신은 어떤 사자?</div>
                      <div class="circle-2"></div>
                    </div>
                  </div>
                </div>
                <div class="page-content">
                    {%if q%}
                    <input id="pk" value="{{q.pk}}" style="display: none;">
                    <input id="score" value="0" style="display: none;">
                    <div class="question-header">
                        <p class="question" style="display: inline;">{{q.question}}</p>
                    </div>
                    <div class="tasks-wrapper">
                        <div class="task">
                            <p><input id="front" type="button" value="{{q.front_ans}}"></p>
                            <p><input id="back" type="button" value="{{q.back_ans}}"></p>  
                        </div>
                    </div>
                  {%else%}
                  {%endif%}
                </div>
              </div>
    </body>

{% endblock %}
