{%extends 'recruit/layout.html' %}
{%load static%}

{% block extrahead %}
<link rel="stylesheet" href="{% static 'css/history.css' %}" />
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<script type="text/javascript" src="http://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script type="text/javascript">
        window.onload = function () {
            var elm = ".history-container";
            $(elm).each(function (index) {
                // 개별적으로 Wheel 이벤트 적용
                $(this).on("mousewheel DOMMouseScroll", function (e) {
                    e.preventDefault();
                    var delta = 0;
                    if (!event) event = window.event;
                    if (event.wheelDelta) {
                        delta = event.wheelDelta / 120;
                        if (window.opera) delta = -delta;
                    } 
                    else if (event.detail)
                        delta = -event.detail / 3;
                    var moveTop = $(window).scrollTop();
                    var elmSelecter = $(elm).eq(index);
                    // 마우스휠을 위에서 아래로
                    if (delta < 0) {
                        if ($(elmSelecter).next() != undefined) {
                            try{
                                moveTop = $(elmSelecter).next().offset().top;
                            }catch(e){}
                        }
                    // 마우스휠을 아래에서 위로
                    } else {
                        if ($(elmSelecter).prev() != undefined) {
                            try{
                                moveTop = $(elmSelecter).prev().offset().top;
                            }catch(e){}
                        }
                    }
                    // 화면 이동 0.8초(800)
                    $("html,body").stop().animate({
                        scrollTop: moveTop + 'px'
                    }, {
                        duration: 600, complete: function () {
                        }
                    });
                });
            });
        }
    </script>
{% endblock %}

{%block content%}
<body>
    <div class="history-container">
        <div class="bar">
            <img src="{% static 'images/color-bar.png' %}">
        </div>
        <div class="left left4">
            <p class="wwd">What We Do</p>
            <p class="th">멋쟁이사자처럼 서강대학교 4기</p>
            
            <p class="pj">[웅이로드]</p>
            <p class="ex">29,000회 이상의 다운로드</p>
            <p class="ex">웹 서비스 + 앱 투트랙 배포</p>
        </div>
        <div class="right">
            <div class="logo-container">
                <img src = "{% static 'images/logo4.png' %}">
            </div>
        </div>
    </div>

    <div class="history-container">
                <div class="bar">
            <img src="{% static 'images/color-bar.png' %}">
        </div>
        <div class="left left5">
            <p class="wwd">What We Do</p>
            <p class="th">멋쟁이사자처럼 서강대학교 5기</p>
            
            <p class="pj">[투정]</p>
            <p class="ex">블록체인 기반 법안 쇼핑몰</p>
            <p class="ex">2018년 5월 정식 서비스 오픈</p>
            <p class="pj">[온전]</p>
            <p class="ex">온라인 미술 작품 전시 서비스</p>
        </div>  
        <div class="right">
            <div class="logo-container">
                <img src = "{% static 'images/logo5.png' %}">
            </div>
        </div>
    </div>

    <div class="history-container">
                <div class="bar">
            <img src="{% static 'images/color-bar.png' %}">
        </div>
        <div class="left left6">
            <p class="wwd">What We Do</p>
            <p class="th">멋쟁이사자처럼 서강대학교 6기</p>
            
            <p class="pj">[뽀바드림]</p>
            <p class="ex">프린트 픽업 서비스</p>
            <p class="pj">[파우치메이트]</p>
            <p class="ex">파우치 속 인생템 공유 서비스</p>
        </div>
        <div class="right">
            <div class="logo-container">
                <img src = "{% static 'images/logo6.png' %}" style="opacity : 0.6;">
            </div>
        </div>
    </div>

    <div class="history-container">
                <div class="bar">
            <img src="{% static 'images/color-bar.png' %}">
        </div>
        <div class="left left7">
            <p class="wwd">What We Do</p>
            <p class="th">멋쟁이사자처럼 서강대학교 7기</p>
            
            <p class="pj">[서강고등학교]</p>
            <p class="ex">2019 서강대학교 대동제 안내 사이트 개발</p>
            <p class="pj">[삼삼오오]</p>
            <p class="ex">4.3 사건을 기억할 수 있는 플랫폼</p>
            <p class="pj">[공감의 밤하늘]</p>
            <p class="ex">자신의 감정을 밤하늘에 기록하고, 서로 공감할 수 있는 서비스</p>
            <p class="pj">[가자미]</p>
            <p class="ex">학생 공연 플랫폼</p>
            <p class="pj">[QRating]</p>
            <p class="ex">전공 기반 보상형 QnA 플랫폼</p>
        </div>
        <div class="right">
            <div class="logo-container">
                <img src = "{% static 'images/logo7.png' %}">
            </div>
        </div>
    </div>

    <div class="history-container">
                <div class="bar">
            <img src="{% static 'images/color-bar.png' %}">
        </div>
        <div class="left left8">
            <p class="wwd">What We Do</p>
            <p class="th">멋쟁이사자처럼 서강대학교 8기</p>
            
            <p class="pj">[옷짱]</p>
            <p class="ex">우리들의 똑똑한 옷장</p>
            <p class="pj">[책화점]</p>
            <p class="ex">함께하는 도서 공유 서비스</p>
            <p class="pj">[Space 16]</p>
            <p class="ex">열여섯 유형 사람들의 이야기</p>
            <p class="pj">[SeeYa!]</p>
            <p class="ex">연극 뮤지컬 시야 후기 공유 서비스</p>
        </div>
        <div class="right">
            <div class="logo-container">
                <img src = "{% static 'images/logo8.png' %}">
            </div>
        </div>
    </div>

    <div class="history-container">
        <div class="bar">
            <img src="{% static 'images/color-bar.png' %}">
        </div>
        <div class="left left9" style="position:relative;">
            <div class="left-container">
            <p class="th th9">멋쟁이사자처럼 서강대학교 9기</p>
            <p class="wn">What's NEXT?</p>
            <p class="idea">"세상을 바꿀 아이디어"</p>
            </div>
        </div>
        <div class="right">
            <div class="logo-container">
                <img src = "{% static 'images/logo9.png' %}">
            </div>
        </div>
    </div>
</body>
{%endblock%}