{%load static%}


<!DOCTYPE html>

<html>
<head>
  <meta charset = "utf-8">
  <title>smart-dresser</title>
  <link rel="stylesheet" href="{% static 'css/layout.css' %}">
  {% block extrahead %}
  {% endblock %}
</head>


<body>
    <header>
        <!-- 상단바 -->
        <div>
            <a href="{%url 'home' %}">홈로고</a>
        </div>
        <div>
            <a href="{%url 'history' %}">히스토리</a>
        </div>
        <div>
            <a href="{%url 'sglioninfo' %}">서강사자</a>
        </div>
        <div>
            지원하기
        </div>
        <div>
            로그인
        </div>
    </header>
    {%block content%}
    {%endblock%}
    <footer class="footer">
        <!-- 필요시 하단바 -->
    </footer>
</body>

</html>