{%load static%}


<!DOCTYPE html>

<html>
<head>
  <meta charset = "utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>LikeLion Sogang</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="{% static 'css/layout.css' %}">
  {% block extrahead %}
  {% endblock %}
</head>


<body>
    <header>
      <nav class="navbar navbar-expand-lg navbar-dark bg-light">
            <a class="navbar-brand" href="{% url 'home' %}">
                <img src="{% static 'images/mainlogo_white.png' %}">
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarText">
              <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'history' %}">히스토리</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'sglioninfo' %}">서강사자</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'bftest' %}">💡성향테스트💡</a>
                </li>
              </ul>
              <!-- user mendu -->
              <!-- <ul class="navbar-nav">
                {% if user.is_authenticated%}
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      로그아웃
                  </a>
                  <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item" href="#">Action</a>
                  </div>
                </li>
                {% else %}
                <li class="nav-item">
                  <a class="nav-link" href="#">회원가입</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">로그인</a>
                </li>
                {% endif %}
              </ul> -->

            </div>
          </nav>
    </header>
    {%block content%}
    {%endblock%}
    <footer class="footer">
        <!-- 필요시 하단바 -->
    </footer>
</body>

</html>