{%extends 'recruit/layout.html' %}
{%load static%}

{%block extrahead%}
<link rel="stylesheet" href="{% static 'css/sglioninfo.css' %}" />
<meta name="viewport" content="width=device-width,initial-scale=1">
{% endblock %}

{%block content%}
<!-- 회장부회장출력 -->
<h3>회장단</h3>
{% for manager in manager_list %}
    {% if manager.team == '회장단' and manager.position == '회장' %}
        {{manager.name}}
        <br>
        {{manager.position}}
        <br>
        {{manager.first_major}}
        <br>
        {% if manager.second_major %}
            {{manager.second_major}}
            <br>
        {% endif %}
    {% endif %}
    {% if manager.team == '회장단' and manager.position == '부회장' %}
        {{manager.name}}
        <br>
        {{manager.position}}
        <br>
        {{manager.first_major}}
        <br>
        {% if manager.second_major %}
            {{manager.second_major}}
            <br>
        {% endif %}
    {% endif %}
{% endfor %}
<h3>기획팀</h3>
{% for manager in manager_list %}
    {% if manager.team == '기획팀' and manager.position == '팀장' %}
        {{manager.name}}
        <br>
        {{manager.position}}
        <br>
        {{manager.first_major}}
        <br>
        {% if manager.second_major %}
            {{manager.second_major}}
            <br>
        {% endif %}
    {% endif %}
    {% if manager.team == '기획팀' and manager.position == '팀원' %}
        {{manager.name}}
        <br>
        {{manager.position}}
        <br>
        {{manager.first_major}}
        <br>
        {% if manager.second_major %}
            {{manager.second_major}}
            <br>
        {% endif %}
    {% endif %}
{% endfor %}
<h3>교육팀</h3>
{% for manager in manager_list %}
    {% if manager.team == '교육팀' and manager.position == '팀장' %}
        {{manager.name}}
        <br>
        {{manager.position}}
        <br>
        {{manager.first_major}}
        <br>
        {% if manager.second_major %}
            {{manager.second_major}}
            <br>
        {% endif %}
    {% endif %}
    {% if manager.team == '교육팀' and manager.position == '팀원' %}
        {{manager.name}}
        <br>
        {{manager.position}}
        <br>
        {{manager.first_major}}
        <br>
        {% if manager.second_major %}
            {{manager.second_major}}
            <br>
        {% endif %}
    {% endif %}
{% endfor %}
<h3>홍보팀</h3>
{% for manager in manager_list %}
    {% if manager.team == '홍보팀' and manager.position == '팀장' %}
        {{manager.name}}
        <br>
        {{manager.position}}
        <br>
        {{manager.first_major}}
        <br>
        {% if manager.second_major %}
            {{manager.second_major}}
            <br>
        {% endif %}
    {% endif %}
    {% if manager.team == '홍보팀' and manager.position == '팀원' %}
        {{manager.name}}
        <br>
        {{manager.position}}
        <br>
        {{manager.first_major}}
        <br>
        {% if manager.second_major %}
            {{manager.second_major}}
            <br>
        {% endif %}
    {% endif %}
{% endfor %}

<main>
  <h1>Who We Are</h1>
  <div class="container">
    <div class="row">
        <div class="person">
          <div class="circle"></div>
          <div class="info">
            <h6>9기 회장</h6>
            <h6>Hong</h6>
          </div>
        </div>

        <div class="person">
          <div class="circle"></div>
          <div class="info">
            <h6>9기 회장</h6>
            <h6>Hong</h6>
          </div>
        </div>

        <div class="person">
          <div class="circle"></div>
          <div class="info">
            <h6>9기 회장</h6>
            <h6>Hong</h6>
          </div>
        </div>

        <div class="person">
          <div class="circle"></div>
          <div class="info">
            <h6>9기 회장</h6>
            <h6>Hong</h6>
          </div>
        </div>
    </div>
  </div>
</main>

{%endblock%}